.presentation {
  width: 100vw;
  min-height: 50vh; /* Ajusta esto según tus necesidades */
  background-image: url("../../../assets/photos/presentation/0000.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
