<div class="presentation">
  <img class="panoramic" src="assets/photos/presentation/0000.jpg" alt="" srcset="" />
</div>
<div class="mt-5 d-flex justify-content-center">
  <h1 class="mb-0">Clausura Semestre 2024-I</h1>
</div>
<div class="mb-3 d-flex justify-content-center">
  <h3>ONG Habider Internacional</h3>
</div>
<div class="masonry-demo">
  <ngx-masonry [options]="masonryOptions" style="width: 100%" [ordered]="true">
    <div ngxMasonryItem [prepend]="true" *ngFor="let image of images; index as idx" style="width: 33%" class="p-2 shadow-card photo" (click)="openDialog(image)">
      <img [src]="image.src" width="100%" />
    </div>
  </ngx-masonry>
</div>
